.header {
  background-color: #191515;
  padding: 30px;
  margin-bottom: 30px;
  color: #fff;
}

.containerHeader {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

.navContainer nav {
  display: flex;
  align-items: center;
}

.navContainer a {
  padding: 5px;

  color: #fff;
  text-decoration: none;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #333;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  letter-spacing: 1px;
}

.highlight {
  background: linear-gradient(to right, #6366f1, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
