.productCard {
  border: 5px solid #ccc;
  border-radius: 10px;
  max-width: 300px;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.containerImageCard img {
  width: 100%;
  flex: 2 1 260;
}
.descriptionCard {
  padding: 10px;
  flex: 1 1 260;
}
.title {
  font-weight: bold;
}
