.container {
  width: 100%;
  margin: 0 auto;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.descriptionContainer {
  padding: 16px;
  border: 1px solid #ccc;
  margin: 16px;
}

.price {
  font-size: 1.2em;
  margin: 16px 0;
  font-weight: bold;
}

.title {
  font-size: 1em;
  text-align: center;
  color: #403f3f;
}

.imageContainer {
  max-width: 100%;
}

.imageContainer img {
  width: 100%;
  padding: 10px;
}

.containerBtns button {
  width: 100%;
  border-radius: 0;
  position: fixed;
  bottom: 0;
  z-index: 99;
}
